body{
	background: #f1f2f6 !important;
}
.banner-div{
	width: 100%;
	
}
.main-div{
	width: 1300px;
	height: 500px;
	margin:30px auto;
}
.div1{
	width: 650px;
	background:white;
	height:500px;
	float:left;
}
.div2{
	height:500px;
	float:left;
	width: 650px;
}
.about{
	background: #0d6efd;
	padding: 15px 30px ;
	display: inline-block;
	margin: 30px;
}
.about h1{
	font-weight: bold;
	color: white;
}
.div1 p{
	margin: 0px 25px;
	font-size: 18px;
}
.div2 img{
	width: 650px;
	height:500px;
}
.div1 button{
	margin: 30px;
	padding: 15px 40px;
	border-radius: 20px;
	font-size: 20px;
}
.div1 button:hover{
	background:#747d8c;
	transition: 0.5s;
	border: 1px solid black;
}
