@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.navbar{
	height: 80px;
}
.nav-item1 a{
	color:#58a7f7 !important;
	font-size: 20px;
}
.nav-item a:hover{
	color:#58a7f7 !important;
}
.navbar-brand span{
	color:#58a7f7;
}
.navbar-brand{
	font-size: 24px !important;
	font-weight: bold;
	padding: 0px 50px;
}
.collapse{
	margin:0px  100px ;
	
}
.nav-item{
	padding: 0px 10px;
}
.header{
	min-height: 750px;
	background-image: url(design.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 100px;
}
.header-text{
	padding: 255px 0px;
}
.header-text h1{
	padding: 0px 70px;
	font-family: 'Poppins', sans-serif;
	color: #0984e3;
}
.header-text p{
padding: 20px 0px;
font-size: 20px;

}
.header-text span{
	margin-left:60px ;
}
.header-text button{
	margin: 0px 280px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}
.banner{
	width: 1300px;
	margin: 30px auto;
}
body{
	background: #f1f2f6 !important;
}
.banner-div{
	width: 100%;
	
}
.main-div{
	width: 1300px;
	height: 500px;
	margin:30px auto;
}
.div1{
	width: 650px;
	background:white;
	height:500px;
	float:left;
}
.div2{
	height:500px;
	float:left;
	width: 650px;
}
.about{
	background: #0d6efd;
	padding: 15px 30px ;
	display: inline-block;
	margin: 30px;
}
.about h1{
	font-weight: bold;
	color: white;
}
.div1 p{
	margin: 0px 25px;
	font-size: 18px;
}
.div2 img{
	width: 650px;
	height:500px;
}
.div1 button{
	margin: 30px;
	padding: 15px 40px;
	border-radius: 20px;
	font-size: 20px;
}
.div1 button:hover{
	background:#747d8c;
	transition: 0.5s;
	border: 1px solid black;
}
.nav-item a{
	color: black !important;
	font-size: 19px;
}
.contact{
	height: 900px;
	background-image: url(1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 50px;
}
.registration{
	width:700px;
	margin:30px auto;
	background:#f5f6fa;
	border-radius:8px;
}
.inner-registration{
	width:100%;
	text-align:center;
	padding:80px 60px 0px 60px;
}
.contact h1{
	padding: 10px 480px;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
	font-size: 45x;
}
.mb-3{
	width:100%;
	padding:15px 0px !important;
	
}
.form-control{
	padding: 1.375rem .75rem !important;
	font-size: 19px !important;
	border: 1px solid black !important;
}
.form-control:hover{
	background:#f5f6fa;
	transition: 0.5s;
}
.send input{
	margin-bottom: 20px;
	padding: 7px 40px !important;
	font-size: 22px !important;
}
.login{
	width:580px;
	margin:30px auto;
	background:#fff;
	border-radius:8px;
}
.inner-login{
	width:100%;
	text-align:center;
	padding:40px 100px 15px 100px;
}
.inner-login img{
	width:130px;
	height:130px;
}
.inner-login h1{
	font-family: 'Montserrat', sans-serif;
}
hr{
	
	border: 3px solid #353C9F !important;
}
.main{
	width:100%;
	padding:30px 0px;
}
.mb-2 label{
	margin-left:-256px;
	font-size: 20px !important;
}
.col-sm-2{
	margin-left:-318px !important;
}
.log-in {
	padding-top: 25px;
}
.log-in input{
	margin-bottom: 20px;
	padding: 7px 30px !important;
	font-size: 22px !important;
	background: #1B1B7D;
}
.footer{
background:black;
color: #fff;
width:auto;
height:430px;
padding:30px 00px;
}
.footer h1{
	font-weight: bold;
	font-size: 25px !important;
	padding: 20px 60px;
}
.footer-text{
	float:left;
	margin-left:130px;
	
}
.footer-text h2{
	font-size: 35px !important;
	font-family: 'Oswald', sans-serif;
	padding: 5px 35px;
}
.footer-text p{
	font-size: 20px !important;
	padding: 0px 35px;
}
.footer-text a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
.footer-text ol{
	margin-left: 35px !important;
	padding: 0px !important;
}
.footer-text a:hover{
	color: #ffbe76;
}
.footer-texts{
	float:left;
	margin-left:130px;
}
.footer-texts h2{
	font-size: 35px !important;
	font-family: 'Oswald', sans-serif;
	padding: 5px 85px;
}
.footer-texts label{
	padding: 5px 85px !important;
}
.footer-texts span{
	padding: 5px 85px !important;
}